.container{
    border: 2px solid black;
    height: 90vh;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.display{
    border: 2px solid red;
    height: 15%;
    width: 80%;
    /* margin: auto; */
    /* position: relative;
    top: 10%; */
}
.operations{
    border: 2px solid red;
    height: 70%;
    width: 80%;
}
.btn{
    height: 18%;
    width: 24.3%;
    border: none;
    box-sizing: border-box;
    

}